<div class="container agenda-text">
  <button type="button" class="btn-color float-end btn-color-raduis" id="btnFilter" (click)="_stateMachineService.ShowVolunteerFilterSeach()">
    {{'Add new' | translate}}
  </button>
  <div class="row text-center mt-5">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn-color" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
          {{'Previous' | translate}}
        </div>
        <div class="btn-color" mwlCalendarToday [(viewDate)]="viewDate">
          {{'Today' | translate}}
        </div>
        <div class="btn-color" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
          {{'Next' | translate}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn-color" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
          {{'Month' | translate}}
        </div>
        <div class="btn-color" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
          {{'Week' | translate}}
        </div>
        <div class="btn-color" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
          {{'Day' | translate}}
        </div>
      </div>
    </div>
  </div>

  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>

</div>


<ng-template #modalContent let-close="close">
  <div [ngClass]="language=='en'?'modal-delete':'modal-delete pagedirection'">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{'Delete Agenda' | translate}}</h5>
          <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pt-0">
          <img height="150vh" src="../../../../../../assets/images/Delete.gif" alt="Delete">
          <h5>{{'Delete' | translate}}</h5>
          <p>{{'Are you sure to delete the Agenda?' | translate}}</p>
        </div>
        <div class="modal-footer justify-content-center pt-0">
          <button type="button" class="btn-delete" (click)="delete()">{{'Delete' | translate}}</button>
          <button type="button" class="btn-hide" (click)="close()">{{'Cancel' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

</ng-template>


<!-- Modal Agenda -->
<ng-template #modalDetails let-close="close" class="modal-agenda" >
  <div [ngClass]="language=='en'?'modal-agenda':'modal-agenda pagedirection'">   
    <div class="modal-dialog-centered">     
      <div class="modal-content">
        <button type="button" class="btn-close" (click)="close()" aria-label="Close"></button>
        <br><br>
        <div class="modal-header">
          <h5 class="modal-title" id="AgendaDetailLabel">{{agenda.name}}</h5>
          <div class="flex-agenda">
            <p><img src="/assets/images/calenderAgenda.svg" alt="date"> {{agenda.dateTimeStart}} _ {{agenda.dateTimeEnd}}</p>
            <p><img src="/assets/images/clock.svg" alt="time">{{agenda.startHour}} _ {{agenda.endHour}}</p>
          </div>
          
        </div>
        <div class="modal-body pt-0">
          <div class="modal-body-agenda">
            <h5>{{'DescriptionTitle' | translate}} :</h5><p class="p-header">{{agenda.description}}</p>
            <h3>{{'Manager' | translate}} :</h3>
            <div class="row">
              <div class="col-md-6">
                <div class="card-agenda">
                  <div class="photo-user">
                    <img width="33vw" [src]="imagePath.normal+agenda.leader?.image" alt="photoAgenda">
                  </div>
                  <div class="card-agenda-text">
                    <h4>{{agenda.leader?.fullName}}</h4>
                    <div class="flex-card-agenda">
                      <p><img src="/assets/images/at-sign.svg" alt="@"> {{agenda.leader?.email}} </p>
                      <p><img src="/assets/images/phone-call.svg" alt="phone"> {{agenda.leader?.phoneNumber}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h3>{{'Employees' | translate}} :</h3>
            <div class="row">
              <div *ngFor="let user of agenda.employees" class="col-md-6">
                <div class="card-agenda">
                  <div class="photo-user">
                    <img width="33vw" [src]="imagePath.normal+user.image" alt="photoAgenda">
                  </div>
                  <div class="card-agenda-text">
                    <h4>{{user.fullName}}</h4>
                    <div class="flex-card-agenda">
                      <p><img src="/assets/images/at-sign.svg" alt="@"> {{user.email}} </p>
                      <p><img src="/assets/images/phone-call.svg" alt="phone"> {{user.phoneNumber}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>