<div id="Password">
  <div [formGroup]="form" class="form-setting">
    <h1>{{'Reset password' | translate}}</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="row align-items-end">
          <div class="col-12">
            <div class="form-group">
              <label for="currentPassword">{{'Current Password' | translate}}</label>
              <div class="box-inputs">
                <input autocomplete="off" formControlName="currentPassword" type="password" name="currentPassword" id="currentPassword" class="form-control" placeholder="******" />
                <span><img (click)="changeEye()" id="img-currentPassword" src="../../../../../../../../assets/images/eye-off.svg" /></span>
              </div>
              <em *ngIf="validation.validateControl('currentPassword')">Please Enter Current Password</em>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="newPassword">{{'New Password' | translate}}</label>
              <div class="box-inputs">
                <input autocomplete="off" formControlName="newPassword" type="password" name="newPassword" id="newPassword" class="form-control" placeholder="******" />
                <span><img id="img-newPassword" src="../../../../../../../../assets/images/eye-off.svg" (click)="changeEyeNewPassword()" /></span>
              </div>
              <em *ngIf="validation.validateControl('newPassword')">Please Enter New Password</em>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="confirmNewPassword">{{'Confirm new Password' | translate}}</label>
              <div class="box-inputs">
                <input autocomplete="off" formControlName="newPassword2" type="password" name="confirmNewPassword" id="confirmNewPassword" class="form-control" placeholder="******" />
                <span><img id="img-confirmNewPassword" (click)="changeEyeConfirmNewPassword()" src="../../../../../../../../assets/images/eye-off.svg" alt="" /></span>
              </div>
              <em *ngIf="validation.validateControl('newPassword2')">Please Confirm New Password</em>
            </div>
          </div>

          <div class="col-md-6">
            <button [disabled]="!form.valid" (click)="submit()" type="button" class="btn-send m-auto d-block mb-3 w-100">
              {{'Reset password' | translate}}
            </button>
          </div>
          <!-- <div class="col-md-12">
        <a href="" class="forgot">Forgot password?</a>
      </div> -->
        </div>
      </div>
    </div>
  </div>
</div>