<div class="login">
    <div class="image-login forgot-back">
       <h1>The first event management <br> system</h1>
       <p>Volunteers. Agendas. Events</p>
    </div>
    <div class="text-login">
        <img src="/assets/logo.png" alt="login" class="logo">
        <h5>{{'Reset password' | translate}}</h5>
        <p class="p-head">Enter the new password to reset</p>
        <div [formGroup]="form">
            <div class="form-group">
                <label for="" class="label-style">New Password :</label>
                <div class="box-input">
                    <input autocomplete="off" formControlName="password" type="text" class="form-control input-style" placeholder="Enter your New Password">
                    <b><img src="../../../../../../assets/images/eye-off.svg" alt="eye-off"></b>
                </div>
                
            </div>
            <div class="form-group">
                <label for="" class="label-style">Confirm new Password :</label>
                <div class="box-input">
                    <input autocomplete="off" formControlName="confirmPassword" type="text" class="form-control input-style" placeholder="Enter your Confirm new Password">
                    <b><img src="../../../../../../assets/images/eye-off.svg" alt="eye-off"></b>
                </div>
            </div>
            <button (click)="submit()" type="button" class="login-button">Reset</button>
       </div>

    </div>

</div>


