<div *ngIf="!loading else loadingTemplate" [ngClass]="language=='en'?'add-eventNew':'add-eventNew pagedirection'">
    <div [formGroup]="eventSponsorForm" class="form-Event-schedule">
        <div class='file file--upload'>
            <label for='imgSponsor'>
                <img [src]="img" alt="uploadImage">
                <div>
                    <p>Upload a Sponsor Image</p>
                    <span>PNG or JPG</span>
                </div>
            </label>
            <input (change)="onFileChange($event)" formControlName="image" id='imgSponsor' type='file' />
        </div>

        <div class="form-group">
            <button [disabled]="!eventSponsorForm.valid" (click)="submit()" type="button" class="btn-send">{{'Add' | translate}}</button>
        </div>
    </div>
</div>

<ng-template #loadingTemplate>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 data-text="Loading...">Loading ....</h1>
        </div>
    </div>
</ng-template>