h1{
    position: relative;
    font-size: 3vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
    letter-spacing: 5px;
}
h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    color: #B68934;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #B68934;
    overflow: hidden;
    animation: animate 3s linear infinite;

}
@keyframes animate{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}