<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<modules runAllManagedModulesForAllRequests="false">
			<remove name="WebDAVModule" />
		</modules>
		<handlers>			
			<remove name="WebDAV" />
       </handlers>
        <rewrite>
            <rules>
				<rule name="Service-API" stopProcessing="true">
                    <match url="(.*)service-api(.*)" />
                    <action type="Rewrite" url="http://localhost:8858{R:2}" />
                </rule>
				<rule name="Angular" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="./" />
				</rule>
            </rules>
        </rewrite>
		<defaultDocument enabled="true">
			<files>
				<clear />
				<add value="index.html" />
			</files>
		</defaultDocument>
    </system.webServer>
</configuration>

