
<div [ngClass]="language=='en'?'add-eventNew':'add-eventNew pagedirection'">
    <h2 class="mb-3">{{'Event Color' | translate}} :</h2>
    <div class="btns-colors">
        <div class="form-group">
            <label class="colorBtn1"></label>
            <input type="radio" >
        </div>
        <div class="form-group">
            <label class="colorBtn2"></label>
            <input type="radio" >
        </div>
        <div class="form-group">
            <label class="colorBtn3"></label>
            <input type="radio" >
        </div>
        <div class="form-group">
            <label class="colorBtn4"></label>
            <input type="radio" >
        </div>
        <div class="form-group">
            <label class="colorBtn5"></label>
            <input type="radio" >
        </div>

    </div>
</div>
