<div class="row">
    <div class="col-md-6">
       <div class="section-employees-box">
          <div class="section-employees-box-texts">
             <h4>{{'Absence' | translate}}</h4>
             <p>{{'Days' | translate}}</p>
             <span>{{chart.absence}}</span>
          </div>
          <img src="../../../../../../../../assets/images/chartAbsence.svg" alt="chart Absence">
       </div>

    </div>
    <div class="col-md-6">
       <div class="section-employees-box">
          <div class="section-employees-box-texts">
             <h4>{{'Attended' | translate}}</h4>
             <p>{{'Days' | translate}}</p>
             <span>{{chart.attended}}</span>
          </div>
          <img src="../../../../../../../../assets/images/chartAttended.svg" alt="chart Absence">
       </div>

    </div>
    <div class="col-md-6">
       <div class="section-employees-box">
          <div class="section-employees-box-texts">
             <h4>{{'Sick leave' | translate}}</h4>
             <p>{{'Days' | translate}}</p>
             <span>{{chart.sick}}</span>
          </div>
          <img src="../../../../../../../../assets/images/SickleaveCahrt.svg" alt="chart Absence">
       </div>

    </div>
    <div class="col-md-6">
       <div class="section-employees-box">
          <div class="section-employees-box-texts">
             <h4>{{'Annual Leave' | translate}}</h4>
             <p>{{'Days' | translate}}</p>
             <span>{{chart.annual}}</span>
          </div>
          <img src="../../../../../../../../assets/images/AnnualLeaveChart.svg" alt="chart Absence">
       </div>

    </div>
 </div>