<div *ngIf="_stateMachineService.showVolunteerFilterSeach" class="overShadow" id="overShadow" (click)="_stateMachineService.ShowVolunteerFilterSeach()"></div>
<app-add *ngIf="_stateMachineService.showVolunteerFilterSeach"></app-add>
<app-calender></app-calender>


 <!-- Modal Agenda -->
 <div class="modal fade modal-agenda" id="AgendaDetail" tabindex="-1" aria-labelledby="AgendaDetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">District Optimization Director</h5>
          <div class="flex-agenda">
             <p><img src="../../../../../../assets/images/calenderAgenda.svg" alt="date"> May 5 _ 7</p>
             <p><img src="../../../../../../assets/images/clock.svg" alt="time"> 7:30 am - 3:30 pm</p>
       </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body pt-0">
          <div class="modal-body-agenda">
             <p class="p-header">Delectus et dolorum ut nostrum. Dolores neque ipsum iure consequuntur reiciendis et. Laudantium ut consequatur ..</p>
             <h3>Employees :</h3>
             <div class="row">
               <div class="col-md-6">
                  <div class="card-agenda">
                     <div class="photo-user">
                           <img src="../../../../../../assets/images/photoAgenda.png" alt="photoAgenda">
                     </div>
                     <div class="card-agenda-text">
                         <h4>Antonio Vandervort</h4>
                         <div class="flex-card-agenda">
                           <p><img src="../../../../../../assets/images/at-sign.svg" alt="@"> info@imshsh.com </p>
                           <p><img src="../../../../../../assets/images/phone-call.svg" alt="phone"> 519-402-5208</p>
                         </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                <div class="card-agenda">
                   <div class="photo-user">
                         <img src="../../../../../../assets/images/photoAgenda.png" alt="">
                   </div>
                   <div class="card-agenda-text">
                       <h4>Antonio Vandervort</h4>
                       <div class="flex-card-agenda">
                         <p><img src="../../../../../../assets/images/at-sign.svg" alt="@"> info@imshsh.com </p>
                         <p><img src="../../../../../../assets/images/phone-call.svg" alt="phone"> 519-402-5208</p>
                       </div>
                   </div>
                </div>
             </div>
             <div class="col-md-6">
                <div class="card-agenda">
                   <div class="photo-user">
                         <img src="../../../../../../assets/images/photoAgenda.png" alt="">
                   </div>
                   <div class="card-agenda-text">
                       <h4>Antonio Vandervort</h4>
                       <div class="flex-card-agenda">
                         <p><img src="../../../../../../assets/images/at-sign.svg" alt="@"> info@imshsh.com </p>
                         <p><img src="../../../../../../assets/images/phone-call.svg" alt="phone"> 519-402-5208</p>
                       </div>
                   </div>
                </div>
             </div>
             </div>
          </div>
       </div>
    
    </div>
    </div>
 </div>